~$
/~$gardia.Constitution.Proposal.txt
/~$nstitutionDraft 2017 May - my thoughts.docx
/~$gardia.Constitution.Proposal.docx
/Asgardia.Constitution.Proposal.docx
/ConstitutionDraft 2017 June - my thoughts.docx
/~$nstitutionDraft 2017 June - my thoughts.docx
/~$gardia-Constitution Draft - version 2.txt
